/*
#0c3a65 - azul escuro conteudo
#25b8ee - azul claro fundo
#001726 - azul escuro footer
*/


header{
    margin-bottom: 25px;
    margin: 0px;
}
body{
    background: #25b8ee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*margin: 15px;*/
}



#title, .post_title{
    color: rgb(255, 255, 255);
    
}

#title{  
    padding: 10px;
    background: rgb(242, 242, 242);
    border-radius: 25px;
    text-transform: uppercase;
}

.meio{
    border: 1px solid black;
    background:#0c3a65;
    padding-bottom: 15px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.subtitle{
    color: white;
    background: #001058;
    border: 1px solid black;
    padding: 5px;
    margin-top: 0px;
}

.post{
    background: #F2F2F2;
    padding: 10px;
    border: 3px solid black;
    border-radius: 25px;
    margin: 10px;
    padding: 15px 10px 5px 15px;
    text-align: justify;
}

.post_title{
    font-size: 20px;
    font-style: italic;
    text-shadow: 0 1px #000;
    background-color: #0e3955;
    padding: 6px 12px;
}

footer{
    background-color: #001726;
    margin-top: 30px;
}

.rodape_post{
    color:#F2F2F2 ;
    background-color: #001726;
    border-radius: 30px;
    text-align: center;
}


#lista-contato{
    list-style-type:none;
}

.creditos{
    background: white ;
    
    padding: 10px;
    font-size: small;
    font-family: monospace;
    text-align: center;
}
